html,
body {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #008cd5;
  border-bottom: 2px solid #e3e3e3;
  padding: 5px 50px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

main {
  flex: 1;
}

.editor-wrap {
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-flow: row nowrap;
}

textarea {
  width: 400px;
  border-radius: 0;
  border: 1px solid #e3e3e3;
  padding: 10px;
  height: calc(100vh - 72px);
  font-size: 18px;
  font-family: monospace;
}

.map-wrap {
  width: calc(100vw - 400px);
  height: calc(100vh - 72px);
  padding: 30px 100px;
  overflow: scroll;
  box-sizing: border-box;
}

.map-overlay {
  position: absolute;
  inset: 0;
  height: 100%;
}

.mindmap-node {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.mindmap-children {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 100px;
}

.node-label {
  background-color: #3d138d;
  color: white;
  font-weight: bold;
  border: 1px solid #00873d;
  padding: 10px 10px;
  border-radius: 4px;
  white-space: nowrap;
}
